![alt](https://research.utm.my/wp-content/uploads/sites/26/2022/06/logo-300x122.png)
# Center for Artificial Intelligence and Robotics
#### Universiti Teknologi Malaysia


### Python Variables

*Author: Dr. Ibrahim, Azzam, Thaqif & Syahmi*

**Lets Begin The Python Programming Today.**


Variable and Types: There are a few common variable types in Python, which are str,** int** and* float.*

In [1]:
string = "This is a string."
a_int = 123
b_float = 123.45

print (string)
print (a_int)
# QUESTION 1
# print VARIABLE b_float

This is a string.
123
123.45

**Note**: Never use a*** str*** number as*** int*** input, it will result in an error.

In [3]:
string = "123"
sum = string + '1'
print (sum)

1231

In this example, we modify the datatype from*** str*** to*** int*** and the code works again.

In [4]:
string = "123"
# QUESTION 2
# create sum variable as int and casting the string variable to be adding with 27 as int - then print sum

150

Similarly, you can do string conversion with ***str() ***and ***% operator ***and ***float()*** for float conversion.

In [4]:
string = "123.45"
sum = float(string) + 1
print (sum)

a_int = 123
string2 = "string2 = " + str(a_int)
print (string2)

b_float = 123.45
string3 = "string3 = %s" % b_float
print (string3)

124.45
string2 = 123
string3 = 123.45

**String operations: **

In [5]:
# Content refering
string = "This is a string!"
print(string[0]) # This will refer to first letter which is "T", remember python index starts with 0 , not 1
print (string[0:-1]) # This will print until one letter before last letter.
# QUESTION 3
# print the the length of the string.
# Some additional self explainatory operations
# QUESTION 4
# print the string variable with all the letters in LOWER CASE
# QUESTION 5
# print from the second letter to the fourth character

T
This is a string
THIS IS A STRING!
17
this is a string!
his